[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-cors-headers = "*"
pillow = "*"
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
psycopg2-binary = "*"
dj-database-url = "*"
python-dotenv = "*"
razorpay = "*"
cloudinary = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.14"
